.glob {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background: radial-gradient(circle at 0% 0%, #6976ff, slateblue);
    border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
    box-shadow: 0 -2vmin 4vmin rgb(182, 183, 255) inset, 0 1vmin 4vmin #7970d8 inset, 0 -2vmin 7vmin rgb(23, 0, 128) inset;
    filter: drop-shadow(0 0 3vmin Thistle) drop-shadow(0 5vmin 4vmin rgb(112, 121, 218)) drop-shadow(2vmin -2vmin 15vmin rgb(104, 122, 238)) drop-shadow(0 0 7vmin MediumOrchid);
    height: 50vmin;
    width: 50vmin;
}
